name: Continuous Deployment

on:
  workflow_dispatch:

jobs:
  release:
    uses: bjf5201/workflows/.github/workflows/cd.yml@main
    with:
      publish: false
    permissions:
      contents: write
      id-token: write