name: Continuous Deployment

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    uses: bjf5201/workflows/.github/workflows/cd.yml@main
    with:
      publish: false
    permissions:
      contents: write
      id-token: write