name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  test-and-lint:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        node: ["20", "22", "24"]
    uses: bjf5201/workflows/.github/workflows/ci.yml@main
    with:
      primary-os: ${{ matrix.os }}
      node-versions: ${{ matrix.node }}