name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  test-and-lint:
    uses: bjf5201/workflows/.github/workflows/ci.yml@main